---
import AstroLogo from "../icons/AstroLogo.astro";
import TailwindLogo from "../icons/TailwindLogo.astro";
import Link from "../icons/Link.astro"
import GitHub from "../icons/GitHub.astro"
import SocialPill from "./SocialPill.astro";

const TAGS = {
  ASTRO: {
    name: "Astro",
    class: "bg-black text-white",
    icon: AstroLogo,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: TailwindLogo,
  },
};

const PROJECTS = [
  {
    title: "PORTFOLIO - CV Miguel Ángel",
    description:
      "Proyecto de portafolio realizado con tecnología Astro y diseñado con librerías TailwindCSS.",
    link: "https://65f87527846e7c967aa423c6--creative-arithmetic-61b07e.netlify.app/",
    github: "https://github.com/Miguel-ae/portfolio.dev",
    image: "/projects/portfolio.webp",
    tags: [TAGS.ASTRO, TAGS.TAILWIND],
  },
  
];
---

{
  PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col items-center justify-center text-center">
      <img
        class="rounded-3xl shadow-lg shadow-white/10 w-[580px]"
        src={image}
        alt={`Captura de pantalla del proyecto ${image}`}
      />
      <ul class="flex flex-row justify-center mb-2 gap-x-2 pt-3 pb-2">
        {tags.map((tag) => (
          <li>
            <span
              class={`flex items-center gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}
            >
              <tag.icon class="size-4" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <h3 class="text-xl font-bold text-yellow-200 mb-2">{title}</h3>
      <p class="text-lg text-gray-500 dark:text-gray-400 text-pretty">{description}</p>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <SocialPill href={github}>
              <GitHub class="size-6" />
              Code
              
            </SocialPill>
          )}
          {link && (
            <SocialPill href={link}>
              <Link class="size-5" />
              Preview
            </SocialPill>
          )}
        </footer>
    </div>
    </article>
  ))
}
